In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [21]:
df = pd.read_csv('./ionosphere.csv')
df.head()

,id,a01,a02,a03,a04,a05,a06,a07,a08,a09,...,a26,a27,a28,a29,a30,a31,a32,a33,a34,class
0,1,1,0.0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,2,1,0.0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,3,1,0.0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,4,1,0.0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,5,1,0.0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [22]:
df['class'].unique()

array(['g', 'b', nan], dtype=object)

In [23]:
df['class'].replace({'g': '0', 'b': '1'}, inplace = True, regex = True)
df.dropna(subset = ["class"], inplace=True)
df.head()

,id,a01,a02,a03,a04,a05,a06,a07,a08,a09,...,a26,a27,a28,a29,a30,a31,a32,a33,a34,class
0,1,1,0.0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,0
1,2,1,0.0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,1
2,3,1,0.0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,0
3,4,1,0.0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,1
4,5,1,0.0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,0

In [24]:
x = df.values[:, 1:35]
y = df.values[:, 35]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [26]:
clf = GaussianNB()

In [27]:
clf.fit(X_train, y_train)
yprediction = clf.predict(X_test)

In [28]:
print('Resultado previsto:\n', yprediction, '\n')
print('Resultado atual:\n', y_test, '\n')
print('PrecisÃ£o do modelo de Ã¡rvore de decisÃ£o ID3 para estes dados: ', accuracy_score(y_test, yprediction)*100)

Resultado previsto:
 ['0' '0' '1' '0' '1' '1' '0' '0' '0' '1' '0' '0' '0' '1' '0' '0' '0' '0'
 '0' '1' '1' '1' '1' '0' '0' '0' '1' '0' '0' '1' '0' '0' '0' '0' '0' '0'
 '0' '0' '1' '0' '1' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0'
 '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '0' '1' '0' '0' '1' '1' '0' '0'
 '1' '1' '1' '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '0' '0' '0' '0' '0'
 '0' '1' '0' '0' '0' '0' '0' '1' '0' '0' '0' '1' '0' '1' '0' '1']

Resultado atual:
 ['0' '0' '1' '0' '1' '1' '1' '0' '0' '1' '1' '0' '0' '1' '0' '0' '0' '0'
 '0' '1' '1' '1' '1' '0' '0' '0' '1' '0' '0' '0' '0' '0' '0' '1' '0' '0'
 '1' '0' '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '0' '1' '0' '0' '1' '0'
 '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '0' '1' '1' '0' '1' '1' '0' '0'
 '1' '1' '1' '0' '1' '0' '0' '0' '1' '0' '0' '0' '0' '0' '0' '1' '0' '0'
 '1' '1' '0' '0' '0' '1' '0' '1' '1' '0' '0' '1' '0' '1' '0' '1']

PrecisÃ£o do modelo de Ã¡rvore de decisÃ£o ID3 para estes dados:  86.79245283018868